.explore-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    background-color: #2C3335;

}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 0.7;
    height: 100%;
    border: 1px solid white;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.first-row {
    flex: 0.3;
    box-sizing: border-box;
}

.horizontal-line {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #cccccc;
}


.second-row {
    flex: 0.7;
    box-sizing: border-box;
}

.right-column {
    flex: 0.3;
    height: 100%;
    border: 1px solid white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
}

.cart-summary-container {
    flex: 0.3;
    border-top: 1px solid #ccc;
}

.cart-item {
    background-color: #2c2c2c;
    padding: 12px;
    border-radius: 8px;
}

.btn {
    width: 100%;
}